body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d0f36;
    color: #222;
    background: url('pasillo.jpg');
}

.inicio {
    background: url('fondo.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('pasillo.jpg');
}

.contenedor-inicio {
    background: rgba(122, 121, 194, 0.93);
    padding: 40px;
    width: 85%;
    max-width: 600px;
    text-align: center;
    border-radius: 12px;
}

.btn {
    display: inline-block;
    padding: 12px 22px;
    background-color: #a5a5a5;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    margin-top: 20px;
}

.header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: 6px;
}

.nav a:hover {
    background-color: #444;
}

.contenido {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    color: rgb(3, 3, 2);
}

.tarjeta {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.15);
}

.imagen {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.galeria {
    display: grid;
    gap: 15px;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
}

.formulario {
    display: grid;
    gap: 12px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.formulario button {
    width: 100%;
}
